<ion-content [fullscreen]="true" class="contenedor">

  <ion-card-header>
    <ion-header>
      <ion-title class="centered-title headert">INGRESAR</ion-title>
    </ion-header>
  </ion-card-header>
  <ion-card class="card" color="light">
    <img src="/assets/background/header.png" alt="" style=" margin: auto;">

    <ion-card-content>
      <form (Submit)="Login()">

        <ion-item class="item-background-color itemsFormLogin" style="position: relative;">
          <ion-label><ion-icon class="text-dark" name="mail" item-start></ion-icon>Correo:</ion-label>
          <ion-input [formControl]="correo" name="correo"></ion-input>
        </ion-item>

        <div class="alert alert-danger mensajeError mt-2 bi bi-x-circle"
          [hidden]="correo.valid || (correo.pristine && correo.untouched)">
          <span *ngIf="correo.errors?.['email']">
            El correo debe ser válido
          </span>

          <span *ngIf="correo.errors?.['required']">
            El correo es obligatorio, ingreselo
          </span>
        </div>

        <ion-item class="item-background-color itemsFormLogin" style="position: relative;">
          <ion-label><ion-icon name="key" item-start></ion-icon>Contraseña:</ion-label>
          <ion-input [formControl]="password" name="password" [counter]="true"
            [type]="showPassword ? 'text' : 'password'" maxlength="8"></ion-input>
          <ion-icon class="text-dark" slot="end" name="{{ showPassword ? 'eye-off' : 'eye' }}"
            (click)="togglePasswordVisibility()"></ion-icon>
        </ion-item>

        <div class="alert alert-danger mensajeError mt-1 bi bi-x-circle"
          [hidden]="password.valid || (password.pristine && password.untouched)">
          <span *ngIf="password.errors?.['minlength']">
            La clave debe tener mínimo 6 caracteres
          </span>

          <span *ngIf="password.errors?.['required']">
            La contraseña es obligatoria, ingresela
          </span>
        </div>
        <ion-button class="botoncito" type="submit" (click)="Login()"><ion-icon id="logoLogIn" name="log-in" ></ion-icon>Ingresar</ion-button>

        <div class="parrafos">
          <p>Admin</p>
          <p>Usuario</p>
          <p>Invitado</p>
        </div>

        <div class="button-container">
          <ion-fab class="custom-fab-inicio" horizontal="start">
            <ion-fab-button>
              <img src="/assets/background/user1.png" alt="">
            </ion-fab-button>
          </ion-fab>
          <ion-fab class="custom-fab-medio" horizontal="center">
            <ion-fab-button>
              <img src="/assets/background/user2.png" alt="">
            </ion-fab-button>
          </ion-fab>
          <ion-fab class="custom-fab-final" horizontal="end">
            <ion-fab-button>
              <img src="/assets/background/user3.png" alt="">
            </ion-fab-button>
          </ion-fab>
        </div>

      </form>
      <ion-range [(ngModel)]="valor" (ionChange)="onRangeChange()" [ticks]="true" step="1" [snaps]="true" [min]="0" [max]="2">
        <ion-icon range-left name="sunny"></ion-icon>
        <ion-icon range-right name="sunny-outline"></ion-icon>
      </ion-range>
    </ion-card-content>
  </ion-card>

  <!-- ******************************* SPINNER *******************************-->
  <div *ngIf="showSpinner" class="custom-spinner">
    <h1 class="spinnerh1">Cargando...</h1>
    <img src="/assets/icon/icon.png" alt="Custom Spinner" />
  </div>
</ion-content>